@model IEnumerable<CSharp5Nhom2.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.IDHoaDon }) |
            </td>
        </tr>
}
    </tbody>
</table>
